<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Barra de progreso</h4>
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
						[attr.ariaValuenow]="progreso" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<app-incrementador leyenda="ok" [progreso]="0" (cambiarProgreso)="progreso = $event"></app-incrementador>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<app-incrementador leyenda="ok" [progreso]="0" (cambiarProgreso)="progreso = $event"></app-incrementador>
			</div>
		</div>
	</div>

</div>